crewai
crewai-tools
langchain_community
duckduckgo-search
gradio
chromadb
reportlab
pysqlite3-binary ; sys_platform == 'linux'
streamlit
tenacity
beautifulsoup4
requests
textstat
python-docx
python-pptx
markdown
streamlit-authenticator
sqlalchemy
openai
anthropic
google-generativeai
sentence-transformers
prometheus-client
celery
redis
streamlit-option-menu
duckduckgo-search
google-genai
PyPDF2
gTTS
langgraph
langsmith
tiktoken
pytest
pytest-cov
flake8
black
